<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#ee82ee">
<form action="./insert/" method="get">
    {% csrf_token %}
    <center>
        <table bgcolor="#ffe4c4">
         <tr><td>enter pid:</td><td><input type="text" name="t1"></td></tr>
         <tr><td>enter pname:</td><td><input type="text" name="t2"></td></tr>
         <tr><td>enter pcost:</td><td><input type="text" name="t3"></td></tr>
         <tr><td>enter pmfdt:</td><td><input type="text" name="t4"></td></tr>
         <tr><td>enter pexpdt:</td><td><input type="text" name="t5"></td></tr>
         <tr><td colspan="2" align="center"><input type="submit" value="insert"></td></tr>   
        </table>
    </center>
</form>

</body>
</html>